*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    --primary-color: #3A069E;
    --light-primary-color: #D1C2F2;
    --white-color: #fff;
    --light-color: #e4e4e4;
    --black-color: #333;
    --dark-shadow-color: rgba(0,0,0,0.1);

    --shadow-button: 4px 4px 20px var(--dark-shadow-color),
                    -4px -4px 20px var(--dark-shadow-color),
                    4px 4px 20px rgba(255,255,255,0.2),
                    -4px -4px 20px rgba(255,255,255,0.2);

    --related-space: 0.375em;
    --unrelated-space: 1.25em;

    --h1-size: 4em;
    --h2-size: 3em;
    --h3-size: 2em;
    --h4-size: 1.5em;
    --p-size: 1.375em;

    --header-height: 6em;
    --footer-height: calc(var(--header-height));
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: var(--black-color);
}

p, h3, h4, h5, h6 {
    font-weight: 500;
}

h1, h2 {
    font-size: 600;
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

p {
    font-size: var(--p-size);
}

ul {
    list-style-type: none;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    /* background-color: var(--light-primary-color); */
}

body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 60vh;
    border-bottom-left-radius: 64px;
    border-bottom-right-radius: 64px;
    background-color: var(--primary-color);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    text-align: center;
}

header h1 {
    /* margin-top: var(--unrelated-space); */
    font-weight: 700;
    color: var(--white-color);
}

header h3 {
    margin-top: var(--related-space);
    margin-bottom: var(--related-space);
    color: var(--white-color);
}

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: var(--unrelated-space);
}

.footer-space {
    position: relative;
    bottom: 0px;
    height: var(--footer-height);
}

.main-card {
    position: relative;
    z-index: 2;
    /* max-width: 800px; */
    width: 100%;
    /* margin: 0 auto; */
    top: var(--header-height);
    padding: 1em 1em 6em 1em;
    /* border-radius: 35px; */
    /* background-color: var(--white-color); */
    /* box-shadow: var(--shadow-button) */
}

.card {
    max-width: 800px;
    width: 95%;
    margin: 0 auto 4em auto;
    padding: 1em 1em 6em 1em;
    border-radius: 64px;
    background-color: var(--white-color);
    box-shadow: var(--shadow-button)
}

.main-card .card-dash {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.main-card .card-dash span {
    background-color: var(--light-color);
    border-radius: 55px;
    width: 4em;
    height: 0.5em;
}

.card-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-bio .bio-pic {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background: var(--primary-color) url('../assets/profile-pic.jpg') no-repeat 50% 20%;
    background-size: 115%;
    box-shadow: var(--shadow-button)
}

.card-bio .bio-info .profile-name {
    text-align: center;
    margin-top: var(--related-space);
}

.card-bio .bio-info .profile-job {
    text-align: center;
    margin-top: var(--related-space);
    margin-bottom: var(--related-space);
}

.card-bio .bio-info .profile-text {
    margin-top: var(--related-space);
    text-align: center;
    text-justify: inter-word;
    line-height: var(--p-size);
}

.skills-info,
.projects-info,
.ref-info,
.contact-info,
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills-info .skills-title,
.projects-info .projects-title,
.ref-info .ref-title,
.contact-info .contact-title {
    flex: 1 1 100%;
    margin-bottom: var(--related-space);
    text-align: center;
}

.card-title {
    margin-top: var(--related-space);
}

.card-title a {
    color: var(--black-color);
    text-decoration: none;
}

.card-title a:active, .card-title a:hover {
    text-decoration: underline;
}

.ref-info .ref-note {
    flex: 1 1 100%;
    text-align: center;
}

.skills-info .skill-card,
.projects-info .project-card,
.ref-info .ref-card,
footer .footer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 25%;
    margin: 0 1em;
    margin-top: var(--unrelated-space);
    text-align: center;
}

.skills-info .card-pic,
.projects-info .card-pic,
.ref-info .card-pic,
footer .card-pic {
    width: 100px;
    height: 100px;
    border-radius: 200px;
    background: var(--primary-color) no-repeat 50% 50%;
    background-size: 60%;
    box-shadow: var(--shadow-button)
}

.card-pic.frontend {
    background-image: url('../assets/icon/frontend-simple-icon.png');
    background-size: 70%;
}

.card-pic.backend {
    background-image: url('../assets/icon/backend-simple-icon.png');
}

.card-pic.design {
    background-image: url('../assets/icon/design-simple-icon.png');
}

.card-pic.email {
    background-image: url('../assets/icon/email-icon.png');
}

.card-pic.phone {
    background-image: url('../assets/icon/phone-icon.png');
    background-size: 50%;
}

.card-pic.linkedin {
    background-image: url('../assets/logo/linkedin-icon.png');
    background-size: 50%;
}

.card-pic.casaong {
    background-color: #BEF0B8;
    background-image: url('../assets/logo/casaong-icon.png');
    background-size: 80%;
}

.card-pic.lapa {
    background-color: #FFF;
    background-image: url('../assets/logo/lapa-icon.png');
    background-size: 55%;
}

.card-pic.daroca {
    background-color: #DCFFEE;
    background-image: url('../assets/logo/daroca-icon.png');
    background-size: 70%;
}

.card-pic.tecnosolve {
    background-color: rgb(0,39,96);
    background-image: url('../assets/logo/tecnosolve.webp');
    background-position: center;
    background-size: 125%;
}

.card-pic.showtecnologia {
    background-color: #FFFFFF;
    background-image: url('../assets/logo/showtecnologia.png');
    background-size: 110%;
}

.card-pic.gestor {
    background-color: #08469a;
    background-image: url('../assets/logo/gestor-showtecnologia.png');
    background-size: 95%;
}

.card-pic.ufape {
    background-color: #1B2D4F;
    background-image: url('../assets/logo/ufape.png');
    background-size: 50%;
}

.card-pic.alive {
    background-color: #FFFFFF;
    background-image: url('../assets/logo/alive.png');
    background-size: 100%;
}

.card-pic.meupregao {
    background-color: #FFFFFF;
    background-image: url('../assets/logo/meupregao-logo.png');
    background-size: 50%;
}

.contact-info form {
    width: 100%;
} 

.contact-info .form-group {
    display: flex;
    flex-direction: column;
    margin-top: var(--unrelated-space);
}

.form-group .form-control {
    border: 1px solid var(--black-color);
    border-radius: 5px;
    padding: 1em;
}

footer .card-pic {
    width: 60px;
    height: 60px;
}

@media only screen and (max-width: 840px) {
    
    html {
        --related-space: 0.375em;
        --unrelated-space: 1.25em;

        --h1-size: 2em;
        --h2-size: 2em;
        --h3-size: 1.5em;
        --h4-size: 1.5em;
        --p-size: 1.25em;
    }

    .card {
        margin: 0 auto 3em auto;
    }
}

@media only screen and (max-width: 600px) {
    html {
        --footer-height: 22em;
    }

    .skills-info .skill-card,
    .projects-info .project-card,
    .ref-info .ref-card,
    footer .footer-card {
        flex: 0 1 38%;
    }
}

@media only screen and (max-width: 400px) {
    html {
        --related-space: 0.25em;
        --unrelated-space: 1em;

        --h1-size: 1.75em;
        --h2-size: 1.75em;
        --h3-size: 1.375em;
        --h4-size: 1.375em;
        --p-size: 1.25em;

        --header-height: 8.5em;
        --footer-height: 18em;
    }

    .card-bio .bio-pic {
        width: 150px;
        height: 150px;
    }

    .skills-info .skill-card,
    .projects-info .project-card,
    .ref-info .ref-card,
    footer .footer-card {
        margin: 0.5em 0;
    }

    .skills-info .card-pic,
    .projects-info .card-pic,
    .ref-info .card-pic,
    footer .card-pic {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 342px) {
    html {
        --h1-size: 1.5em;
        --h2-size: 1.5em;
        --h3-size: 1.25em;
        --h4-size: 1.25em;
        --p-size: 1.125em;
    }
}

*[data-animate="fade-out"] {
    opacity: 1;
    transition: opacity 300ms;
}

*[data-animate="fade-out"].scrolled {
    opacity: 0;
}

*[data-animate="fade-in"] {
    opacity: 0;
    transition: opacity 300ms;
}

*[data-animate="fade-in"].scrolled {
    opacity: 1;
}
