@use 'variables';

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;

    --base-width: 960px;

    --base-padding: 1rem;
    --bottom-padding: 2.5rem;
    --card-padding: 3rem;

    --bottom-space: 1rem;
    --between-space-y: 1rem;
    --related-space: 0.375rem;
    --related-space-md: 0.75rem;
    --unrelated-space: 1.25rem;

    --header-height: 0rem;
    --footer-height: calc(var(--header-height) + 16rem);
    --nav-height: 81px;

    --h1-size: 4rem;
    --h2-size: 3rem;
    --h3-size: 2rem;
    --h4-size: 1.5rem;
    --p-size: 1.375rem;
    --p-size-sm: 1rem;

    color-scheme: light dark;
}

body {
    font-family: variables.$font-stack;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;

    &::before {
        content: '';
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: variables.$primary-color;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: light-dark(variables.$black-color, variables.$white-color);
    
    &::selection {
        background-color: variables.$accent-color;
    }
}

%h1 {
    font-weight: 600;
}

h1 {
    @extend %h1;
    font-size: var(--h1-size);
}

h2 {
    @extend %h1;
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

p {
    font-size: var(--p-size);
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: variables.$white-color;
    text-decoration: none;
}

.anchor {
    display: block;
    position: relative;
    visibility: hidden;
    // top: -10em;

    &#projects {
        top: -10em;
    }
}

select {
    background-color: variables.$primary-color;
    border: 1px solid variables.$primary-color;
    color: variables.$white-color;
    padding: 0.75em 1.5em;
    font-size: 1em;

    &.active {
        background-color: variables.$white-color;
        border: 1px solid variables.$white-color;
        color: variables.$black-color;
        border-radius: variables.$border-radius-sm;
    }

    &:hover {
        border: 1px solid variables.$white-color;
        border-radius: variables.$border-radius-sm;
    }
}

a strong {
    font-weight: 600;
}

strong {
    font-weight: 500;
    position: relative;
    color: light-dark(variables.$black-color, variables.$white-color);

    &:not(:has(a))::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 0;
        height: var(--h4-size);
        background-color: light-dark(variables.$light-primary-color, variables.$accent-color);
        bottom: -2px;
        left: 0;
        box-shadow: variables.$shadow-button;

        animation: underline-grow 1.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;

        @keyframes underline-grow {
            from {
                width: 0;
            }
            to {
                width: 100%;
            }
        }
    }

    &:has(a)::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 0;
        height: 3px;
        background-color: variables.$accent-color;
        bottom: 2px;
        left: 0;
        box-shadow: variables.$shadow-button;

        animation: underline-grow 1.2s cubic-bezier(0.4, 0, 0.2, 1) 300ms forwards;

        @keyframes underline-grow {
            from {
                width: 0;
            }
            to {
                width: 100%;
            }
        }
    }
}

html {
    &[lang="en"] {
        .works__card__copy-btn {
    
            &.copied {
                &::before {
                    content: "Copied!"
                }
            }
    
            &::before {
                content: "Copy BibTeX";
            }
        }
    }

    &[lang="pt"] {
        .works__card__copy-btn {
    
            &.copied {
                &::before {
                    content: "Copiado!"
                }
            }
    
            &::before {
                content: "Copiar BibTeX";
            }
        }
    }
}