@import './variables';

footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    .footer {
        @extend %d-flex-column;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: var(--unrelated-space);
    
        &__card {
            @extend %d-flex-row;
            align-items: center;
            flex: 0 1 25%;
            margin: 0 1em;
            margin-top: var(--related-space);
            text-align: center;

            &.center {
                justify-content: center;
            }
            
            &__pic {
                width: 30px;
                height: 30px;
                border-radius: 200px;
                background: $primary-color no-repeat 50% 50%;
                background-size: 60%;
                box-shadow: $shadow-button;
                color: $white-color;
                line-height: 30px;
                font-size: 20px;
        
                &.email {
                    background-image: $asset-icon-email;
                }
        
                &.phone {
                    background-image: $asset-icon-phone;
                }
        
                &.linkedin {
                    background-image: $asset-logo-linkedin;
                }

                &.github {
                    background-image: $asset-logo-github;
                }

                &.lattes {
                    background-image: $asset-logo-lattes;
                }
            }

            &__title {
                padding: var(--related-space);
                a {
                    color: $white-color;
                    text-decoration: none;
                }

                a:hover {
                    text-decoration: underline;
                }

                span {
                    color: $white-color;
                }
            }
        }
    
    }
}

.footer-space {
    position: relative;
    bottom: 0px;
    height: var(--footer-height);
}