header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100dvh - var(--nav-height));
    position: fixed;

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $white-color;
        }

        &__pic {
            width: 200px;
            height: 200px;
            border-radius: 300px;
            background: $primary-color $asset-pic-profile-alt no-repeat 60% 25%;
            background-size: 130%;
            box-shadow: $shadow-button;
        }

        &__info {
            &__profile-name {
                text-align: center;
                margin-top: var(--related-space);
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    width: 100%;
                    height: var(--h2-size);
                    background-color: $accent-color;
                    bottom: 0px;
                    left: 0;
                    box-shadow: $shadow-button;

                    animation: underline-grow 1.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;

                    @keyframes underline-grow {
                        from {
                        width: 0;
                        }
                        to {
                        width: 102%;
                        }
                    }
                }
            }

            &__profile-text {
                margin-top: var(--related-space-md);
                text-align: center;
                text-justify: inter-word;
                line-height: var(--p-size);
            }

            &__profile-job {
                text-align: center;
                margin-top: var(--related-space);
                margin-bottom: var(--related-space);
            }
        }

        &__links {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: var(--related-space);

            &__card {
                @extend %d-flex-row;
                align-items: center;
                flex: 0 1 auto;
                margin: 0 .5em;
                margin-top: var(--related-space);
                text-align: center;

                &.center {
                    justify-content: center;
                    
                    .footer__card__title {
                        margin-left: 0;
                        width: min-content;
                    }
                }
                
                
                &__pic {
                    width: 30px;
                    height: 30px;
                    border-radius: 200px;
                    background: $primary-color no-repeat 50% 50%;
                    background-size: 60%;
                    box-shadow: none;
                    color: $white-color;
                    line-height: 30px;
                    font-size: 20px;
            
                    &.email {
                        background-image: $asset-icon-email;
                        background-position: 50% 55%;
                    }
            
                    &.phone {
                        background-image: $asset-icon-phone;
                        background-position: 50% 70%;
                    }
                    
                    &.linkedin {
                        background-image: $asset-logo-linkedin;
                    }

                    &.github {
                        background-image: $asset-logo-github;
                    }

                    &.lattes {
                        background-image: $asset-logo-lattes;
                    }
                }
            }
        }
    }
}

.header-space {
    position: relative;
    top: 0px;
    height: calc(100vh - var(--nav-height));
    height: calc(100dvh - var(--nav-height));
    pointer-events: none;
}