$primary-color: #222;
$light-primary-color: #D1C2F2;
$white-color: #fff;
$light-color: #e4e4e4;
$black-color: #333;
$dark-shadow-color: rgba(0,0,0,0.1);

// $shadow-button: 4px 4px 10px $dark-shadow-color,
//                 -4px -4px 10px $dark-shadow-color,
//                 4px 4px 10px rgba(255,255,255,0.2),
//                 -4px -4px 10px rgba(255,255,255,0.2);

$shadow-button: none;

$font-stack: 'Montserrat', sans-serif;

// $border-radius-sm: 12px;
$border-radius-sm: 0px;
// $border-radius-md: 24px;
$border-radius-md: 0px;
// $border-radius-lg: 36px;
$border-radius-lg: 0px;
// $border-radius-xl: 48px;
$border-radius-xl: 0px;

$asset-pic-profile: url('../../assets/profile-pic.png');
$asset-pic-profile-alt: url('../../assets/profile-pic-alt.png');

$asset-icon-frontend: url('../../assets/icon/frontend-simple-icon.png');
$asset-icon-backend: url('../../assets/icon/backend-simple-icon.png');
$asset-icon-design: url('../../assets/icon/design-simple-icon.png');
$asset-icon-email: url('../../assets/icon/email-icon.png');
$asset-icon-phone: url('../../assets/icon/phone-icon.png');

$asset-logo-linkedin: url('../../assets/logo/linkedin-icon.png');
$asset-logo-github: url('../../assets/logo/github-icon.png');
$asset-logo-lattes: url('../../assets/logo/lattes-icon.png');
$asset-logo-casaong: url('../../assets/logo/casaong-icon.png');
$asset-logo-lapa: url('../../assets/logo/lapa-icon.png');
$asset-logo-daroca: url('../../assets/logo/daroca-icon.png');
$asset-logo-tecnosolve: url('../../assets/logo/tecnosolve.webp');
$asset-logo-showtecnologia: url('../../assets/logo/showtecnologia.png');
$asset-logo-gestor: url('../../assets/logo/gestor-showtecnologia.png');
$asset-logo-ufape: url('../../assets/logo/ufape.png');
$asset-logo-alive: url('../../assets/logo/alive.png');
$asset-logo-meupregao: url('../../assets/logo/meupregao-logo.png');

%d-flex-row {
    display: flex;
    flex-direction: row;
}

%d-flex-column {
    display: flex;
    flex-direction: column;
}