@import './variables';
@import './base';
@import './header';

.main-container {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: $base-width;
    margin: 0 auto;
    top: $header-height;
    padding: 1em 1em 6em 1em;

    .navbar {
        position: sticky;
        top: 0;
        width: 100%;
        margin: 0 auto;
        z-index: 4;
    
        ul {
            display: flex;
            max-width: 800px;
            padding: 1em;
            margin: 0 auto 1em auto;
        }
    
        a {
            display: inline-block;
            padding: 0.75em 1.5em;
            color: $white-color;
            text-decoration: none;
    
            &.active {
                background-color: $white-color;
                color: $black-color;
                border-radius: $border-radius-sm;
            }
        }
    
        &.darken {
            background-color: $primary-color;
        }
    }

    &__card {
        margin: 0 1em 4em 1em;
        padding: 1em 1em 6em 1em;
        border-radius: $border-radius-lg;
        background-color: $white-color;
        box-shadow: $shadow-button;

        &.bio {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &.skills,
        &.projects,
        &.ref,
        &.contact {
            @extend %d-flex-row;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .bio {
            &__pic {
                width: 200px;
                height: 200px;
                border-radius: 200px;
                background: $primary-color $asset-pic-profile no-repeat 50% 20%;
                background-size: 115%;
                box-shadow: $shadow-button
            }

            &__info {
                &__profile-name {
                    text-align: center;
                    margin-top: $related-space;
                }
    
                &__profile-text {
                    margin-top: $related-space;
                    text-align: center;
                    text-justify: inter-word;
                    line-height: $p-size;
                }

                &__profile-job {
                    text-align: center;
                    margin-top: $related-space;
                    margin-bottom: $related-space;
                }
            }

        }

        .skills,
        .projects,
        .ref,
        .contact {
            &__title {
                flex: 1 1 100%;
                margin-bottom: $related-space;
                text-align: center;
            }

            &__note {
                flex: 1 1 100%;
                text-align: center;
            }

            &__card {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 0 1 25%;
                margin: 0 1em;
                margin-top: $unrelated-space;
                text-align: center;

                &__title {
                    margin-top: $related-space;

                    a {
                        color: $black-color;
                        text-decoration: none;

                        &:active,
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
    
                &__pic {
                    width: 100px;
                    height: 100px;
                    border-radius: 200px;
                    background: $primary-color no-repeat 50% 50%;
                    background-size: 60%;
                    box-shadow: $shadow-button;
    
                    &.frontend {
                        background-image: $asset-icon-frontend;
                        background-size: 70%;
                    }
    
                    &.backend {
                        background-image: $asset-icon-backend;
                    }
    
                    &.design {
                        background-image: $asset-icon-design;
                    }
    
                    &.email {
                        background-image: $asset-icon-email;
                    }
    
                    &.phone {
                        background-image: $asset-icon-phone;
                        background-size: 50%;
                    }
    
                    &.linkedin {
                        background-image: $asset-logo-linkedin;
                        background-size: 50%;
                    }
    
                    &.casaong {
                        background-color: #BEF0B8;
                        background-image: $asset-logo-casaong;
                        background-size: 80%;
                    }
    
                    &.lapa {
                        background-color: #FFF;
                        background-image: $asset-logo-lapa;
                        background-size: 55%;
                    }
    
                    &.daroca {
                        background-color: #DCFFEE;
                        background-image: $asset-logo-daroca;
                        background-size: 70%;
                    }
    
                    &.tecnosolve {
                        background-color: rgb(0,39,96);
                        background-image: $asset-logo-tecnosolve;
                        background-position: center;
                        background-size: 125%;
                    }
    
                    &.showtecnologia {
                        background-color: #FFFFFF;
                        background-image: $asset-logo-showtecnologia;
                        background-size: 110%;
                    }
    
                    &.gestor {
                        background-color: #08469a;
                        background-image: $asset-logo-gestor;
                        background-size: 95%;
                    }
    
                    &.ufape {
                        background-color: #1B2D4F;
                        background-image: $asset-logo-ufape;
                        background-size: 50%;
                    }
    
                    &.alive {
                        background-color: #FFFFFF;
                        background-image: $asset-logo-alive;
                        background-size: 100%;
                    }
    
                    &.meupregao {
                        background-color: #FFFFFF;
                        background-image: $asset-logo-meupregao;
                        background-size: 50%;
                    }
                }

            }

        }
    }
}

form {
    width: 100%;

    .form-group {
        display: flex;
        flex-direction: column;
        margin-top: $unrelated-space;

        &__form-control {
            border: 1px solid $black-color;
            border-radius: 5px;
            padding: 1em;
        }
    }

}

*[data-animate="fade-out"] {
    opacity: 1;
    transition: opacity 300ms;
}

*[data-animate="fade-out"].scrolled {
    opacity: 0;
}

*[data-animate="fade-in"] {
    opacity: 0;
    z-index: 0;
    transition: opacity 300ms;
}

*[data-animate="fade-in"].scrolled {
    opacity: 1;
    /* z-index: 3; */
}

@import './footer';
@import './media/screen_lt_840';
@import './media/screen_lt_600';
@import './media/screen_lt_400';
@import './media/screen_lt_342';