@use "sass:meta";
@use 'variables';
@use 'base';
@use 'header';

.main-container {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: var(--base-width);
    margin: 0 auto;
    top: var(--header-height);
    padding: 0 var(--base-padding);
    // padding-bottom: var(--bottom-padding);

    .navbar {
        position: sticky;
        top: 0;
        width: 100%;
        margin: 0 auto var(--bottom-space) auto;
        z-index: 4;
        overflow-x: auto;
        overflow-y: hidden;
        
        ul {
            background-color: variables.$primary-color;
            display: flex;
            width: max-content;
            min-width: 100%;
            padding: var(--base-padding);
            margin: 0;
        }

        li.align-right {
            margin-left: auto;
        }
    
        a {
            display: inline-block;
            padding: 0.75em 1.5em;
            color: variables.$white-color;
            text-decoration: none;
            border: 1px solid variables.$primary-color;
            
            &.active {
                background-color: variables.$accent-color;
                border: 1px solid variables.$white-color;
                color: variables.$white-color;
                border-radius: variables.$border-radius-sm;
            }

            &:hover {
                border: 1px solid variables.$white-color;
                border-radius: variables.$border-radius-sm;
            }
        }
    
        &.darken {
            background-color: variables.$primary-color;
        }
    }

    &__card {
        margin: var(--base-padding);
        margin-top: 0;
        margin-bottom: var(--bottom-padding);
        padding: var(--card-padding);
        border-radius: variables.$border-radius-lg;
        background-color: light-dark(variables.$white-color, variables.$primary-color);
        color: light-dark(variables.$black-color, variables.$white-color);

        @media (prefers-color-scheme: light) {
            box-shadow: variables.$shadow-button;
            border: 1px solid none;
        }

        @media (prefers-color-scheme: dark) {
            box-shadow: none;
            border: 1px solid variables.$light-color;
        }


        &.intro {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &.skills,
        &.projects,
        &.ref,
        &.contact,
        &.works {
            @extend %d-flex-column;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .intro {
            &__pic {
                width: 200px;
                height: 200px;
                border-radius: 300px;
                background: variables.$primary-color variables.$asset-pic-profile-alt no-repeat 40% 40%;
                background-size: 150%;
                box-shadow: variables.$shadow-button
            }

            &__info {
                &__profile-name {
                    text-align: center;
                    margin-top: var(--related-space);
                }
    
                &__profile-text {
                    margin-top: var(--related-space);
                    text-align: center;
                    text-justify: inter-word;
                    line-height: var(--p-size);
                }

                &__profile-job {
                    text-align: center;
                    margin-top: var(--related-space);
                    margin-bottom: var(--related-space);
                }
            }

        }

        .bio {

            &__content {
                &__title {
                    text-align: center;
                }
    
                &__text {
                    margin-top: var(--related-space);
                    text-align: justify;
                    text-justify: inter-word;
                    font-size: var(--p-size-sm);
                    line-height: var(--p-size);
                }
            }

        }

        .skills,
        .projects,
        .ref,
        .contact,
        .works {
            &__title {
                flex: 1 1 100%;
                margin-bottom: var(--related-space);
                text-align: center;
            }

            &__note {
                flex: 1 1 100%;
                text-align: center;
            }

            &__card {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                flex: 0 1 25%;
                margin-top: var(--between-space-y);
                text-align: center;

                &__title {
                    font-weight: 600;
                    font-size: var(--p-size-sm);

                    a {
                        color: light-dark(variables.$black-color, variables.$light-color);
                        text-decoration: none;

                        &:active,
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
    
                &__pic {
                    width: 50px;
                    height: 50px;
                    border-radius: 200px;
                    background: variables.$primary-color no-repeat 50% 50%;
                    background-size: 60%;
                    box-shadow: variables.$shadow-button;
                    margin-right: var(--unrelated-space);
                    border: 1px solid variables.$primary-color;

                    span {
                        color: variables.$white-color;
                        font-size: 3em;
                        line-height: 24px;
                    }
    
                    &.frontend {
                        background-image: variables.$asset-icon-frontend;
                        background-size: 70%;
                    }
    
                    &.backend {
                        background-image: variables.$asset-icon-backend;
                    }
    
                    &.design {
                        background-image: variables.$asset-icon-design;
                    }
    
                    &.email {
                        background-image: variables.$asset-icon-email;
                    }
    
                    &.phone {
                        background-image: variables.$asset-icon-phone;
                        background-size: 50%;
                    }
    
                    &.linkedin {
                        background-image: variables.$asset-logo-linkedin;
                        background-size: 50%;
                    }

                    &.github {
                        background-image: variables.$asset-logo-github;
                        background-size: 50%;
                    }
    
                    &.casaong {
                        background-color: #BEF0B8;
                        background-image: variables.$asset-logo-casaong;
                        background-size: 80%;
                    }
    
                    &.lapa {
                        background-color: #FFF;
                        background-image: variables.$asset-logo-lapa;
                        background-size: 55%;
                    }
    
                    &.daroca {
                        background-color: #DCFFEE;
                        background-image: variables.$asset-logo-daroca;
                        background-size: 70%;
                    }
    
                    &.tecnosolve {
                        background-color: rgb(0,39,96);
                        background-image: variables.$asset-logo-tecnosolve;
                        background-position: center;
                        background-size: 125%;
                    }
    
                    &.showtecnologia {
                        background-color: #FFFFFF;
                        background-image: variables.$asset-logo-showtecnologia;
                        background-size: 110%;
                    }
    
                    &.gestor {
                        background-color: #08469a;
                        background-image: variables.$asset-logo-gestor;
                        background-size: 95%;
                    }
    
                    &.ufape {
                        background-color: #FFFFFF;
                        background-image: variables.$asset-logo-ufape;
                        background-size: 95%;
                    }
    
                    &.alive {
                        background-color: #FFFFFF;
                        background-image: variables.$asset-logo-alive;
                        background-size: 100%;
                    }
    
                    &.meupregao {
                        background-color: #FFFFFF;
                        background-image: variables.$asset-logo-meupregao;
                        background-size: 50%;
                    }
                }

                &__description, &__author, &__venue {
                    margin-top: var(--related-space);
                    font-size: var(--p-size-sm);
                    text-align: left;
                    flex: 1 1 100%;
                }

                &__list {
                    margin-top: var(--related-space);
                    font-size: var(--p-size-sm);
                    text-align: left;
                    flex: 1 1 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: .5em;
                }
                
                ~ .ref,
                ~ .skills,
                ~ .works {
                    &__card {
                        padding-top: var(--unrelated-space);
                        border-top: 1px solid variables.$dark-shadow-color;
                    }
                }
            }

        }

        .works {

            &__card {

                &__body {
                    text-align: start;;
                }

                &__copy-btn {
                    display: inline;
                    position: relative;
                    background-image: url("../../assets/icon/copy.png");
                    background-position: 50% 50%;
                    background-size: 75%;
                    background-repeat: no-repeat;
                    background-color: light-dark(variables.$white-color, variables.$black-color);
                    border: none;
                    border-radius: 20px;
                    width: 22px;
                    height: 22px;
                    padding: 4px 0;
                    margin: 0 8px;
                    cursor: pointer;
                    transition: transform ease-in-out 200ms;

                    @media (prefers-color-scheme: light) {
                        background-image: url("../../assets/icon/copy-dark.png");
                        &.copied {
                            background-image: url("../../assets/icon/copied-dark.png");
                        }
                    }

                    @media (prefers-color-scheme: dark) {
                        background-image: url("../../assets/icon/copy.png");
                        &.copied {
                            background-image: url("../../assets/icon/copied.png");
                        }
                    }
                    
                    &:hover {
                        transform: scale(1.2);

                        &::before {
                            opacity: 1;
                            transition: opacity ease-in-out 200ms 500ms;
                        }
                    }
                    

                    &::before {
                        content: "Copy BibTeX";
                        position: absolute;
                        top: -40px;
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 12px;
                        background-color: light-dark(variables.$black-color, variables.$white-color);
                        color: light-dark(variables.$white-color, variables.$black-color);
                        padding: 2px 6px;
                        border-radius: 4px;
                        opacity: 0;
                        transition: none;
                        z-index: 99;
                    }
            
                    &.copied::before {
                        content: "Copied!";
                        top: calc(-30px + 12px);
                        opacity: 1;
                        transition: none;
                    }
                }

            }
        }
    }
}

.tag {
    border-radius: 5px;
    background-color: variables.$primary-color;
    color: variables.$white-color;
    padding: .25em;

    &.yellow {
        color: variables.$black-color;
        background-color: #FFCA28;
    }

    &.red {
        background-color: #E53935;
    }

    &.blue {
        background-color: #0288D1;
    }

    &.orange {
        background-color: #FF7043;
    }

    &.green {
        background-color: #4CAF50;
    }

    &.purple {
        background-color: #8210F5;
    }
}

form {
    width: 100%;

    .form-group {
        display: flex;
        flex-direction: column;
        margin-top: var(--unrelated-space);

        &__form-control {
            border: 1px solid variables.$black-color;
            border-radius: 5px;
            padding: 1em;
        }
    }

}

*[data-animate="fade-out"] {
    opacity: 1;
    transition: opacity 300ms;
    pointer-events: all;
}

*[data-animate="fade-out"].scrolled {
    opacity: 0;
    pointer-events: none;
}

*[data-animate="fade-in"] {
    opacity: 0;
    z-index: 0;
    transition: opacity 300ms;
    pointer-events: none;
}

*[data-animate="fade-in"].scrolled {
    opacity: 1;
    pointer-events: all;
}

@include meta.load-css('footer');
@include meta.load-css('media/screen_lg');
@include meta.load-css('media/screen_md');
@include meta.load-css('media/screen_sm');
@include meta.load-css('media/screen_xs');