@import './variables';
@import './base';
@import './header';

.main-container {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: var(--base-width);
    margin: 0 auto;
    top: var(--header-height);
    padding: 0 var(--base-padding);
    // padding-bottom: var(--bottom-padding);

    .navbar {
        position: sticky;
        top: 0;
        width: 100%;
        margin: 0 auto var(--bottom-space) auto;
        z-index: 4;
        overflow-y: auto;
        
        ul {
            background-color: $primary-color;
            display: flex;
            max-width: 800px;
            padding: var(--base-padding);
            margin: 0 auto;
        }

        li.align-right {
            margin-left: auto;
        }
    
        a {
            display: inline-block;
            padding: 0.75em 1.5em;
            color: $white-color;
            text-decoration: none;
            border: 1px solid $primary-color;
            
            &.active {
                background-color: $white-color;
                border: 1px solid $white-color;
                color: $black-color;
                border-radius: $border-radius-sm;
            }

            &:hover {
                border: 1px solid $white-color;
            }
        }
    
        &.darken {
            background-color: $primary-color;
        }
    }

    &__card {
        margin: var(--base-padding);
        margin-top: 0;
        margin-bottom: var(--bottom-padding);
        padding: var(--card-padding);
        border-radius: $border-radius-lg;
        background-color: $white-color;
        box-shadow: $shadow-button;

        &.intro {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &.skills,
        &.projects,
        &.ref,
        &.contact {
            @extend %d-flex-column;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .intro {
            &__pic {
                width: 200px;
                height: 200px;
                border-radius: 200px;
                background: $primary-color $asset-pic-profile-alt no-repeat 50% 20%;
                background-size: 115%;
                box-shadow: $shadow-button
            }

            &__info {
                &__profile-name {
                    text-align: center;
                    margin-top: var(--related-space);
                }
    
                &__profile-text {
                    margin-top: var(--related-space);
                    text-align: center;
                    text-justify: inter-word;
                    line-height: var(--p-size);
                }

                &__profile-job {
                    text-align: center;
                    margin-top: var(--related-space);
                    margin-bottom: var(--related-space);
                }
            }

        }

        .bio {

            &__content {
                &__title {
                    text-align: center;
                }
    
                &__text {
                    margin-top: var(--related-space);
                    text-align: justify;
                    text-justify: inter-word;
                    line-height: var(--p-size);
                }
            }

        }

        .skills,
        .projects,
        .ref,
        .contact {
            &__title {
                flex: 1 1 100%;
                margin-bottom: var(--related-space);
                text-align: center;
            }

            &__note {
                flex: 1 1 100%;
                text-align: center;
            }

            &__card {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                flex: 0 1 25%;
                margin-top: var(--between-space-y);
                text-align: center;

                &__title {
                    // margin-top: var(--related-space);

                    a {
                        color: $black-color;
                        text-decoration: none;

                        &:active,
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
    
                &__pic {
                    width: 50px;
                    height: 50px;
                    border-radius: 200px;
                    background: $primary-color no-repeat 50% 50%;
                    background-size: 60%;
                    box-shadow: $shadow-button;
                    margin-right: var(--unrelated-space);
                    border: 1px solid $primary-color;

                    span {
                        color: $white-color;
                        font-size: 3em;
                        line-height: 24px;
                    }
    
                    &.frontend {
                        background-image: $asset-icon-frontend;
                        background-size: 70%;
                    }
    
                    &.backend {
                        background-image: $asset-icon-backend;
                    }
    
                    &.design {
                        background-image: $asset-icon-design;
                    }
    
                    &.email {
                        background-image: $asset-icon-email;
                    }
    
                    &.phone {
                        background-image: $asset-icon-phone;
                        background-size: 50%;
                    }
    
                    &.linkedin {
                        background-image: $asset-logo-linkedin;
                        background-size: 50%;
                    }

                    &.github {
                        background-image: $asset-logo-github;
                        background-size: 50%;
                    }
    
                    &.casaong {
                        background-color: #BEF0B8;
                        background-image: $asset-logo-casaong;
                        background-size: 80%;
                    }
    
                    &.lapa {
                        background-color: #FFF;
                        background-image: $asset-logo-lapa;
                        background-size: 55%;
                    }
    
                    &.daroca {
                        background-color: #DCFFEE;
                        background-image: $asset-logo-daroca;
                        background-size: 70%;
                    }
    
                    &.tecnosolve {
                        background-color: rgb(0,39,96);
                        background-image: $asset-logo-tecnosolve;
                        background-position: center;
                        background-size: 125%;
                    }
    
                    &.showtecnologia {
                        background-color: #FFFFFF;
                        background-image: $asset-logo-showtecnologia;
                        background-size: 110%;
                    }
    
                    &.gestor {
                        background-color: #08469a;
                        background-image: $asset-logo-gestor;
                        background-size: 95%;
                    }
    
                    &.ufape {
                        background-color: #FFFFFF;
                        background-image: $asset-logo-ufape;
                        background-size: 95%;
                    }
    
                    &.alive {
                        background-color: #FFFFFF;
                        background-image: $asset-logo-alive;
                        background-size: 100%;
                    }
    
                    &.meupregao {
                        background-color: #FFFFFF;
                        background-image: $asset-logo-meupregao;
                        background-size: 50%;
                    }
                }

                &__description {
                    margin-top: var(--related-space);
                    font-size: 1em;
                    text-align: left;
                    flex: 1 1 100%;
                }

                &__list {
                    margin-top: var(--related-space);
                    font-size: 1em;
                    text-align: left;
                    flex: 1 1 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: .5em;
                }
                
                ~ .ref,
                ~ .skills {
                    &__card {
                        padding-top: var(--unrelated-space);
                        border-top: 1px solid $dark-shadow-color;
                    }
                }
                

            }

        }
    }
}

.tag {
    border-radius: 5px;
    background-color: $primary-color;
    color: $white-color;
    padding: .25em;

    &.yellow {
        color: $black-color;
        background-color: #FFCA28;
    }

    &.red {
        background-color: #E53935;
    }

    &.blue {
        background-color: #0288D1;
    }

    &.orange {
        background-color: #FF7043;
    }

    &.green {
        background-color: #4CAF50;
    }

    &.purple {
        background-color: #8210F5;
    }
}

form {
    width: 100%;

    .form-group {
        display: flex;
        flex-direction: column;
        margin-top: var(--unrelated-space);

        &__form-control {
            border: 1px solid $black-color;
            border-radius: 5px;
            padding: 1em;
        }
    }

}

*[data-animate="fade-out"] {
    opacity: 1;
    transition: opacity 300ms;
}

*[data-animate="fade-out"].scrolled {
    opacity: 0;
}

*[data-animate="fade-in"] {
    opacity: 0;
    z-index: 0;
    transition: opacity 300ms;
}

*[data-animate="fade-in"].scrolled {
    opacity: 1;
    /* z-index: 3; */
}

@import './footer';
@import './media/screen_lg';
@import './media/screen_md';
@import './media/screen_sm';
@import './media/screen_xs';