footer .footer__card {
  display: flex;
  flex-direction: row;
}

footer .footer, .main-container__card.skills, .main-container__card.projects, .main-container__card.ref, .main-container__card.contact {
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 10em;
  --base-width: 832px;
  --base-padding: 1em;
  --bottom-padding: 2.5em;
  --card-padding: 3em;
  --bottom-space: 1em;
  --between-space-y: 1em;
  --related-space: 0.375em;
  --unrelated-space: 1.25em;
  --header-height: 0em;
  --footer-height: calc(var(--header-height) + 12em);
  --h1-size: 4em;
  --h2-size: 3em;
  --h3-size: 2em;
  --h4-size: 1.5em;
  --p-size: 1.375em;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
}
body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #222;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #333;
}

h2, h1 {
  font-weight: 600;
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

h4 {
  font-size: var(--h4-size);
}

p {
  font-size: var(--p-size);
}

ul {
  list-style-type: none;
  padding: 0;
}

.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}
.anchor#projects {
  top: -10em;
}

select {
  background-color: #222;
  border: 1px solid #222;
  color: #fff;
  padding: 0.75em 1.5em;
  font-size: 1em;
}
select.active {
  background-color: #fff;
  border: 1px solid #fff;
  color: #333;
  border-radius: 0px;
}
select:hover {
  border: 1px solid #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 1em;
  position: fixed;
}
header .header__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: var(--base-width);
  padding: 0 1em;
  width: 100%;
}
header .header__content__title * {
  vertical-align: middle;
  font-weight: 700;
  color: #fff;
  margin-top: var(--related-space);
  margin-bottom: var(--related-space);
  color: #fff;
}

.main-container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: var(--base-width);
  margin: 0 auto;
  top: var(--header-height);
  padding: 0 var(--base-padding);
}
.main-container .navbar {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0 auto var(--bottom-space) auto;
  z-index: 4;
  overflow-y: auto;
}
.main-container .navbar ul {
  background-color: #222;
  display: flex;
  max-width: 800px;
  padding: var(--base-padding);
  margin: 0 auto;
}
.main-container .navbar li.align-right {
  margin-left: auto;
}
.main-container .navbar a {
  display: inline-block;
  padding: 0.75em 1.5em;
  color: #fff;
  text-decoration: none;
  border: 1px solid #222;
}
.main-container .navbar a.active {
  background-color: #fff;
  border: 1px solid #fff;
  color: #333;
  border-radius: 0px;
}
.main-container .navbar a:hover {
  border: 1px solid #fff;
}
.main-container .navbar.darken {
  background-color: #222;
}
.main-container__card {
  margin: var(--base-padding);
  margin-top: 0;
  margin-bottom: var(--bottom-padding);
  padding: var(--card-padding);
  border-radius: 0px;
  background-color: #fff;
  box-shadow: none;
}
.main-container__card.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container__card.skills, .main-container__card.projects, .main-container__card.ref, .main-container__card.contact {
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-container__card .intro__pic {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background: #222 url("../../assets/profile-pic-alt.png") no-repeat 50% 20%;
  background-size: 115%;
  box-shadow: none;
}
.main-container__card .intro__info__profile-name {
  text-align: center;
  margin-top: var(--related-space);
}
.main-container__card .intro__info__profile-text {
  margin-top: var(--related-space);
  text-align: center;
  text-justify: inter-word;
  line-height: var(--p-size);
}
.main-container__card .intro__info__profile-job {
  text-align: center;
  margin-top: var(--related-space);
  margin-bottom: var(--related-space);
}
.main-container__card .bio__content__title {
  text-align: center;
}
.main-container__card .bio__content__text {
  margin-top: var(--related-space);
  text-align: justify;
  text-justify: inter-word;
  line-height: var(--p-size);
}
.main-container__card .skills__title,
.main-container__card .projects__title,
.main-container__card .ref__title,
.main-container__card .contact__title {
  flex: 1 1 100%;
  margin-bottom: var(--related-space);
  text-align: center;
}
.main-container__card .skills__note,
.main-container__card .projects__note,
.main-container__card .ref__note,
.main-container__card .contact__note {
  flex: 1 1 100%;
  text-align: center;
}
.main-container__card .skills__card,
.main-container__card .projects__card,
.main-container__card .ref__card,
.main-container__card .contact__card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  flex: 0 1 25%;
  margin-top: var(--between-space-y);
  text-align: center;
}
.main-container__card .skills__card__title a,
.main-container__card .projects__card__title a,
.main-container__card .ref__card__title a,
.main-container__card .contact__card__title a {
  color: #333;
  text-decoration: none;
}
.main-container__card .skills__card__title a:active, .main-container__card .skills__card__title a:hover,
.main-container__card .projects__card__title a:active,
.main-container__card .projects__card__title a:hover,
.main-container__card .ref__card__title a:active,
.main-container__card .ref__card__title a:hover,
.main-container__card .contact__card__title a:active,
.main-container__card .contact__card__title a:hover {
  text-decoration: underline;
}
.main-container__card .skills__card__pic,
.main-container__card .projects__card__pic,
.main-container__card .ref__card__pic,
.main-container__card .contact__card__pic {
  width: 50px;
  height: 50px;
  border-radius: 200px;
  background: #222 no-repeat 50% 50%;
  background-size: 60%;
  box-shadow: none;
  margin-right: var(--unrelated-space);
  border: 1px solid #222;
}
.main-container__card .skills__card__pic span,
.main-container__card .projects__card__pic span,
.main-container__card .ref__card__pic span,
.main-container__card .contact__card__pic span {
  color: #fff;
  font-size: 3em;
  line-height: 24px;
}
.main-container__card .skills__card__pic.frontend,
.main-container__card .projects__card__pic.frontend,
.main-container__card .ref__card__pic.frontend,
.main-container__card .contact__card__pic.frontend {
  background-image: url("../../assets/icon/frontend-simple-icon.png");
  background-size: 70%;
}
.main-container__card .skills__card__pic.backend,
.main-container__card .projects__card__pic.backend,
.main-container__card .ref__card__pic.backend,
.main-container__card .contact__card__pic.backend {
  background-image: url("../../assets/icon/backend-simple-icon.png");
}
.main-container__card .skills__card__pic.design,
.main-container__card .projects__card__pic.design,
.main-container__card .ref__card__pic.design,
.main-container__card .contact__card__pic.design {
  background-image: url("../../assets/icon/design-simple-icon.png");
}
.main-container__card .skills__card__pic.email,
.main-container__card .projects__card__pic.email,
.main-container__card .ref__card__pic.email,
.main-container__card .contact__card__pic.email {
  background-image: url("../../assets/icon/email-icon.png");
}
.main-container__card .skills__card__pic.phone,
.main-container__card .projects__card__pic.phone,
.main-container__card .ref__card__pic.phone,
.main-container__card .contact__card__pic.phone {
  background-image: url("../../assets/icon/phone-icon.png");
  background-size: 50%;
}
.main-container__card .skills__card__pic.linkedin,
.main-container__card .projects__card__pic.linkedin,
.main-container__card .ref__card__pic.linkedin,
.main-container__card .contact__card__pic.linkedin {
  background-image: url("../../assets/logo/linkedin-icon.png");
  background-size: 50%;
}
.main-container__card .skills__card__pic.github,
.main-container__card .projects__card__pic.github,
.main-container__card .ref__card__pic.github,
.main-container__card .contact__card__pic.github {
  background-image: url("../../assets/logo/github-icon.png");
  background-size: 50%;
}
.main-container__card .skills__card__pic.casaong,
.main-container__card .projects__card__pic.casaong,
.main-container__card .ref__card__pic.casaong,
.main-container__card .contact__card__pic.casaong {
  background-color: #BEF0B8;
  background-image: url("../../assets/logo/casaong-icon.png");
  background-size: 80%;
}
.main-container__card .skills__card__pic.lapa,
.main-container__card .projects__card__pic.lapa,
.main-container__card .ref__card__pic.lapa,
.main-container__card .contact__card__pic.lapa {
  background-color: #FFF;
  background-image: url("../../assets/logo/lapa-icon.png");
  background-size: 55%;
}
.main-container__card .skills__card__pic.daroca,
.main-container__card .projects__card__pic.daroca,
.main-container__card .ref__card__pic.daroca,
.main-container__card .contact__card__pic.daroca {
  background-color: #DCFFEE;
  background-image: url("../../assets/logo/daroca-icon.png");
  background-size: 70%;
}
.main-container__card .skills__card__pic.tecnosolve,
.main-container__card .projects__card__pic.tecnosolve,
.main-container__card .ref__card__pic.tecnosolve,
.main-container__card .contact__card__pic.tecnosolve {
  background-color: rgb(0, 39, 96);
  background-image: url("../../assets/logo/tecnosolve.webp");
  background-position: center;
  background-size: 125%;
}
.main-container__card .skills__card__pic.showtecnologia,
.main-container__card .projects__card__pic.showtecnologia,
.main-container__card .ref__card__pic.showtecnologia,
.main-container__card .contact__card__pic.showtecnologia {
  background-color: #FFFFFF;
  background-image: url("../../assets/logo/showtecnologia.png");
  background-size: 110%;
}
.main-container__card .skills__card__pic.gestor,
.main-container__card .projects__card__pic.gestor,
.main-container__card .ref__card__pic.gestor,
.main-container__card .contact__card__pic.gestor {
  background-color: #08469a;
  background-image: url("../../assets/logo/gestor-showtecnologia.png");
  background-size: 95%;
}
.main-container__card .skills__card__pic.ufape,
.main-container__card .projects__card__pic.ufape,
.main-container__card .ref__card__pic.ufape,
.main-container__card .contact__card__pic.ufape {
  background-color: #FFFFFF;
  background-image: url("../../assets/logo/ufape.png");
  background-size: 95%;
}
.main-container__card .skills__card__pic.alive,
.main-container__card .projects__card__pic.alive,
.main-container__card .ref__card__pic.alive,
.main-container__card .contact__card__pic.alive {
  background-color: #FFFFFF;
  background-image: url("../../assets/logo/alive.png");
  background-size: 100%;
}
.main-container__card .skills__card__pic.meupregao,
.main-container__card .projects__card__pic.meupregao,
.main-container__card .ref__card__pic.meupregao,
.main-container__card .contact__card__pic.meupregao {
  background-color: #FFFFFF;
  background-image: url("../../assets/logo/meupregao-logo.png");
  background-size: 50%;
}
.main-container__card .skills__card__description,
.main-container__card .projects__card__description,
.main-container__card .ref__card__description,
.main-container__card .contact__card__description {
  margin-top: var(--related-space);
  font-size: 1em;
  text-align: left;
  flex: 1 1 100%;
}
.main-container__card .skills__card__list,
.main-container__card .projects__card__list,
.main-container__card .ref__card__list,
.main-container__card .contact__card__list {
  margin-top: var(--related-space);
  font-size: 1em;
  text-align: left;
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.main-container__card .skills__card ~ .ref__card,
.main-container__card .skills__card ~ .skills__card,
.main-container__card .projects__card ~ .ref__card,
.main-container__card .projects__card ~ .skills__card,
.main-container__card .ref__card ~ .ref__card,
.main-container__card .ref__card ~ .skills__card,
.main-container__card .contact__card ~ .ref__card,
.main-container__card .contact__card ~ .skills__card {
  padding-top: var(--unrelated-space);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.tag {
  border-radius: 5px;
  background-color: #222;
  color: #fff;
  padding: 0.25em;
}
.tag.yellow {
  color: #333;
  background-color: #FFCA28;
}
.tag.red {
  background-color: #E53935;
}
.tag.blue {
  background-color: #0288D1;
}
.tag.orange {
  background-color: #FF7043;
}
.tag.green {
  background-color: #4CAF50;
}
.tag.purple {
  background-color: #8210F5;
}

form {
  width: 100%;
}
form .form-group {
  display: flex;
  flex-direction: column;
  margin-top: var(--unrelated-space);
}
form .form-group__form-control {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 1em;
}

*[data-animate=fade-out] {
  opacity: 1;
  transition: opacity 300ms;
}

*[data-animate=fade-out].scrolled {
  opacity: 0;
}

*[data-animate=fade-in] {
  opacity: 0;
  z-index: 0;
  transition: opacity 300ms;
}

*[data-animate=fade-in].scrolled {
  opacity: 1;
  /* z-index: 3; */
}

footer .footer__card {
  display: flex;
  flex-direction: row;
}

footer .footer, .main-container__card.skills, .main-container__card.projects, .main-container__card.ref, .main-container__card.contact {
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer .footer {
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: var(--unrelated-space);
}
footer .footer__card {
  align-items: center;
  flex: 0 1 25%;
  margin: 0 1em;
  margin-top: var(--related-space);
  text-align: center;
}
footer .footer__card__pic {
  width: 30px;
  height: 30px;
  border-radius: 200px;
  background: #222 no-repeat 50% 50%;
  background-size: 60%;
  box-shadow: none;
}
footer .footer__card__pic.email {
  background-image: url("../../assets/icon/email-icon.png");
}
footer .footer__card__pic.phone {
  background-image: url("../../assets/icon/phone-icon.png");
}
footer .footer__card__pic.linkedin {
  background-image: url("../../assets/logo/linkedin-icon.png");
}
footer .footer__card__pic.github {
  background-image: url("../../assets/logo/github-icon.png");
}
footer .footer__card__pic.lattes {
  background-image: url("../../assets/logo/lattes-icon.png");
}
footer .footer__card__title {
  padding: var(--related-space);
}
footer .footer__card__title a {
  color: #fff;
  text-decoration: none;
}
footer .footer__card__title a:hover {
  text-decoration: underline;
}

.footer-space {
  position: relative;
  bottom: 0px;
  height: var(--footer-height);
}

@media only screen and (max-width: 840px) {
  :root {
    --related-space: 0.375em;
    --unrelated-space: 1.25em;
    --h1-size: 2em;
    --h2-size: 2em;
    --h3-size: 1.5em;
    --h4-size: 1.5em;
    --p-size: 1.25em;
  }
  .main-container__card {
    border-radius: 0px;
  }
  .main-container__card .bio__pic {
    width: 125px;
    height: 125px;
  }
}
@media only screen and (max-width: 768px) {
  :root {
    scroll-padding-top: 6em;
    --base-padding: 0.5em;
    --bottom-padding: 1.5em;
    --card-padding: 2em;
    --header-height: 0em;
    --footer-height: 12em;
  }
  header {
    margin: 0;
  }
  header .header__content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .main-container__card {
    border-radius: 0px;
  }
}
@media only screen and (max-width: 413px) {
  :root {
    scroll-padding-top: 6em;
    --base-padding: 0.5em;
    --h1-size: 1.75em;
    --h2-size: 1.75em;
    --h3-size: 1.375em;
    --h4-size: 1.375em;
    --p-size: 1.25em;
    --header-height: 0em;
    --footer-height: 11em;
    --base-width: 832px;
    --related-space: 0.25em;
    --unrelated-space: 1em;
  }
  .main-container {
    padding: var(--base-padding);
  }
  .main-container .navbar {
    margin: var(--bottom-space) auto;
  }
  .main-container__card.skills, .main-container__card.projects, .main-container__card.ref {
    flex-direction: column;
    align-items: flex-start;
  }
  .main-container__card .skills__title,
.main-container__card .projects__title,
.main-container__card .ref__title {
    width: 100%;
  }
  .main-container__card .skills__note,
.main-container__card .projects__note,
.main-container__card .ref__note {
    width: 100%;
  }
  .main-container__card .skills__card,
.main-container__card .projects__card,
.main-container__card .ref__card {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main-container__card .skills__card__pic,
.main-container__card .projects__card__pic,
.main-container__card .ref__card__pic {
    width: 30px;
    height: 30px;
  }
  .main-container__card .skills__card__title,
.main-container__card .projects__card__title,
.main-container__card .ref__card__title {
    margin: 0;
  }
  .main-container__card .skills__card ul,
.main-container__card .projects__card ul,
.main-container__card .ref__card ul {
    flex: 1 1 100%;
    text-align: left;
  }
  footer .footer {
    flex-direction: column;
  }
  footer .footer__card {
    flex-direction: row;
  }
  footer .footer__card__pic {
    width: 30px;
    height: 30px;
  }
  footer .footer__card__title {
    margin-left: 1em;
  }
}
@media only screen and (max-width: 375px) {
  :root {
    --base-padding: 0.5em;
    --bottom-padding: 1.5em;
    --card-padding: 1.5em;
    --h1-size: 1.75em;
    --h2-size: var(--h1-size);
    --h3-size: 1em;
    --h4-size: 1em;
    --p-size: 1.125em;
  }
}

/*# sourceMappingURL=style.css.map */
