@media only screen and (max-width: 768px) {
    :root {
        scroll-padding-top: 6em;

        --base-padding: 0.5em;
        --bottom-padding: 1.5em;
        --card-padding: 2em;

        --header-height: 0em;
        --footer-height: 17em;
    }

    header {
        margin: 0;
        .header {
            &__content {
                flex-direction: column-reverse;
                align-items: center;
            }
        }
    }

    .main-container {
        &__card {
            border-radius: $border-radius-md;
        }
    }
}