@media only screen and (max-width: 375px) {

    :root {
        --base-padding: 0.5rem;
        --bottom-padding: 1.5rem;
        --card-padding: 1.5rem;

        --h1-size: 1.75rem;
        --h2-size: var(--h1-size);
        --h3-size: 1rem;
        --h4-size: 1rem;
        --p-size: 1.125rem;
    }
}