@media only screen and (max-width: 413px) {
    :root {
        scroll-padding-top: 6rem;

        --base-padding: 0.5rem;

        --h1-size: 1.75rem;
        --h2-size: 1.75rem;
        --h3-size: 1.375rem;
        --h4-size: 1.375rem;
        --p-size: 1.25rem;

        --header-height: 0rem;
        --footer-height: 17rem;

        --base-width: 832px;
        --related-space: 0.25rem;
        --unrelated-space: 1em;
    }

    .main-container {
        padding: var(--base-padding);

        &__card {
            &.skills,
            &.projects,
            &.ref {
                flex-direction: column;
                align-items: flex-start;
            }

            .skills,
            .projects,
            .ref {
                &__title {
                    width: 100%;
                }
                &__note {
                    width: 100%;
                }
                &__card {
                    flex-direction: row;
                    flex-wrap: wrap;

                    &__pic {
                        width: 30px;
                        height: 30px;
                    }

                    &__title {
                        margin: 0;
                    }


                    ul {
                        flex: 1 1 100%;
                        text-align: left;
                    }
                }
            }
        }
    }

    footer {
        .footer {
            flex-direction: column;

            &__card {
                flex-direction: row;
                &__pic {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}