@media only screen and (max-width: 400px) {
    $related-space: 0.25em;
    $unrelated-space: 1em;

    $h1-size: 1.75em;
    $h2-size: 1.75em;
    $h3-size: 1.375em;
    $h4-size: 1.375em;
    $p-size: 1.25em;

    $header-height: 8.5em;
    $footer-height: 18em;
}