@media only screen and (max-width: 413px) {
    :root {
        scroll-padding-top: 6em;

        --base-padding: 0.5em;

        --h1-size: 1.75em;
        --h2-size: 1.75em;
        --h3-size: 1.375em;
        --h4-size: 1.375em;
        --p-size: 1.25em;

        --header-height: 0em;
        --footer-height: 17em;

        --base-width: 832px;
        --related-space: 0.25em;
        --unrelated-space: 1em;
    }

    .main-container {
        padding: var(--base-padding);
        // padding-bottom: var(--bottom-padding);

        .navbar {
            margin: var(--bottom-space) auto;
        }

        &__card {
            &.skills,
            &.projects,
            &.ref {
                flex-direction: column;
                align-items: flex-start;
            }

            .skills,
            .projects,
            .ref {
                &__title {
                    width: 100%;
                }
                &__note {
                    width: 100%;
                }
                &__card {
                    flex-direction: row;
                    flex-wrap: wrap;

                    &__pic {
                        width: 30px;
                        height: 30px;
                    }

                    &__title {
                        margin: 0;
                    }


                    ul {
                        flex: 1 1 100%;
                        text-align: left;
                    }
                }
            }
        }
    }

    footer {
        .footer {
            flex-direction: column;

            &__card {
                flex-direction: row;
                &__pic {
                    width: 30px;
                    height: 30px;
                }

                &__title {
                    margin-left: 1em;
                }
            }
        }
    }
}